.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 1px brown;
}

.navbar-button:hover {
    background-color: #545454;
}

.login-form {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}

.navbar-link {
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: darkgrey;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.summary {
    display: flex;
    font-weight: bold;
    align-items: center;
    height: fit-content;
    background-color: blanchedalmond;
}

.description {
    display: flex;
    align-items: center;
    height: fit-content;
}

.tile {
    border: solid black 1px;
    padding: 10px;
    width: 200px;
    background-color: white;
    box-shadow: grey 4px 4px 4px 2px;
    color: black;
}

.navbar-container {
    font-size: 30px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #0239ba;
}

.navbar-button {
    background-color: black;
    border: none;
    border-radius: 0;
    width: 160px;
    font-size: 30px;
    color: white;
}

.new-issue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.new-issue-form {
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}